{% extends 'base.html' %}

{%load static%}
{% load crispy_forms_tags %}

{% block content %}
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="POST">
                            <h3 class="text-center text-info">Welcome to Choose Your Field</h3>
                            <div class="form-group">
                                {% csrf_token%}
                                {{ form | crispy}}
                            </div>
                            <a href="{% url 'users:register_user' %}">Register</a>
                            <button type="submit" name="submit" class="btn btn-success btn-md"
                            value="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</html>
