{% extends 'index.html' %}

{% block tittle%} Field list {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <h3 class="text-center " style="color:#181818 "> Field List</h3>
    <table class="table" id="tabla" style="border: 1px solid darkgrey;
                        border-radius: 20px; background-color:#20c997; opacity:0.9; color:#181818">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Size</th>
                <th scope="col">Status Field</th>
                <th scope="col">Hour Price</th>
            </tr>
        </thead>
        <tbody>
            {% for field in fields %}
            <tr>
                <th scope="row">{{field.id}}</th>
                <td>{{field.name}}</td>
                <td>{{field.type}}</td>
                <td>{{field.size}}</td>
                <td>{{field.status_field}}</td>
                <td>{{field.price_hour}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}