

{% block content %}

	<div class="container">
		<form action="" method="POST">
			{% csrf_token %}
			{{ form }}	
			<input type="text" name="field">
			<button type="submit" >
				Submit
			</button>
		</form>
	</div>
{% endblock %}